body{
    height: 100%;
    width: 100%;
}
#divsContainer{
    --numberCells: 16;
    height: 60vh;
    width: 60vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(var(--numberCells), 1fr);
    gap: 1px;
}
.cell{
    background-color: chocolate;
    border: 1px solid black;
    transition: all 0.8s ease;
}
.change{
    background-color: black;
}
