:root {
    --emptyCellColor: "";
    --cellColor:"";
    --numberCells: "";
  }
body {
background-color:rgb(124, 108, 119);
font-family: "Lucida Console", "Courier New", monospace;
}
.wrapper{
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}
.header{
    font-size: 60px;
    text-align: center;
    color: white;
    padding: 30px;
}
.mainContainer{
    display: flex;
    justify-content: space-evenly;
}
.controls{
    font-size: 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    padding: 20px;
    background-color: rgb(170, 166, 148);
    border-radius: 3%;
}
.cellsContainer{
    background-color: rgb(170, 166, 148);
    height: 60vh;
    width: 60vh;
    padding: 30px;
    border-radius: 3%;
}
#cellsContainer{
    display: grid;
    grid-template-columns: repeat(var(--numberCells), 1fr);

}
.button{
    font-size: 15px;
    background-color: rgb(170, 166, 163);
    border-radius: 10%;
    padding: 5px;
}

.colorCell{
    background-color: var(--cellColor);
}
.emptyCell{
    background-color: var(--emptyCellColor);
}
.slider{
    -webkit-appearance: none;  /* Override default CSS styles */ 
    background-color: white;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 25px; 
    height: 25px; 
    background:rgb(124, 108, 119);
    cursor: pointer;
  }
